<div class="booyah-box col-10 offset-1">
<h1>About Flixter</h1>
  &nbsp;&nbsp;
    <p>
      Flixter was built by <a target="_blank" href="http://github.com/dorothyeves">Dorothy</a>. An aspiring full stack web developer learning to turn ideas into reality. 
      <p>
      This Flixter app was built by using the programming language <strong>Ruby</strong> and the framework <strong>Ruby on Rails</strong> as well as <strong>HTML</strong> and <strong>CSS</strong>.
      </p>
    </p>
    <br />
    <p>
    Currently attending <strong>The FirehoseProject</strong> software engineering bootcamp learning to code and build products as well as pursuing a bachelors degree in IT - Software Engineering & Cybersecurity concentration. 
    </p>

    <p>
    She enjoys learning to code and excited in gaining more knowledge at TheFirehoseProject in her pursuit of becoming a Full Stack Web Developer.
    </p>
    
    <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
    </p>


</div>